[Sesion]
TIMEOUT_SESION=10

[Base de datos]
DB_HOST=localhost
DB_USER=ganar
DB_PASSWD=ganar
DB_NAME=ganar
TABLE_PREFIX=ganar_

[Subida de archivos]
MAX_IMG_SIZE=262144
RUTA_SUBIDAS=/home/usuario/ruta_img

[Textos aleatorios]
TA_TAMANO=20
TA_GRUPOS=4
TA_SEPARADOR=-

[Otros]
DEBUG=NO
