[Sesion]
TIMEOUT_SESION=10

[Base de datos]
DB_HOST=localhost
DB_USER=ganar
DB_PASSWD=ganar
DB_NAME=ganar
TABLE_PREFIX=ganar_

[Subida de archivos]
MAX_IMG_SIZE=262144
RUTA_SUBIDAS=/home/usuario/ruta_img

[COOKIE]
CO_TAMANO=24
CO_GRUPOS=4
CO_SEPARADOR=-

[EMAIL]
EM_TAMANO=72
EM_GRUPOS=4
EM_SEPARADOR=-
RUTA_VERIF_MAIL=localhost/testGA/censo/verificar.php

[Verificaciones]
VERIFICACIONES_F=/home/usuario/ruta_img/verificando

[VOTACION]
ID_PRIMARIAS=1
V_TAMANO=24
V_GRUPOS=4
V_SEPARADOR=-
T_TAMANO=6
T_GRUPOS=6
T_SEPARADOR=-

[Otros]
DEBUG=NO
VOTACION=1