@CHARSET "UTF-8";

@font-face {
	font-family: permanentmarker;
	src: url(permanentmarker-webfont.woff);
}

@font-face {
	font-family: ubuntu-tittle;
	src: url(Ubuntu-Title.woff);
}

html {
	background-color: #ccc;
}

body {
	/*width: 1000px;*/
	margin: auto;
	font: 12px;
	border-left: normal #555 4px;
	border-right: normal #999 2px;
	background-color: #fff;
	padding: 20px 30px;
}

.error {
	color: tomato;
}

h1.error {
	color: tomato;
	text-align: center;
	margin-bottom: 50px;
}

h1:not(.error) {
	text-align: center;
	margin-bottom: 50px;
	text-shadow: 4px 4px 4px #558;
	font-family: permanentmarker;
}

.botones {
	text-align: right;
	margin: 20px 50px 10px 50px;
}

.botones input, .botones button {
	font-weight: bold;
	font-size: 18px;
}

.botones input + input, .botones button + button {
	margin-left: 10px;
}

.botonesIzq {
	text-align: left;
}

table.tabla1 {
	width: 90%;
}

table.tabla1 th {
	background-color: #ccf;
	font-family: ubuntu-tittle;
}

table.tabla1 tr:nth-child(odd) td {
	background-color: #eef;
}

table.tabla1 tr:nth-child(even) td {
	background-color: #fff;
}

table.centrada th {
	text-align: center;
}

table.centrada td {
	text-align: center;
}

table + table {
	margin-top: 15px;
}

form.vertical {
	display: table;
}

form.vertical div {
	display: table-row;
	margin: 10px 0px;
}

form.vertical input  {
	margin: 20px 0 0 0;
}

form.vertical div.der {
	display: "block";
	text-align: right;
}

form.vertical label, form.vertical label + input  {
	display: table-cell;
	margin: 5px 20px;
}

.candidatos {
	margin-top: 40px;
	border-bottom: black solid 2px;
	padding-bottom: 40px;
}

.candidatos:last-of-type {
	margin-top: 40px;
	border-bottom: none;
	margin-bottom: 90px;
	padding-bottom: 0;
}

.candidatos .cabecera_nombre {
	background-color: #F4EFEA;
	padding: 10px 40px;
}

.candidatos .cabecera_nombre img {
	padding: 6px;
	border: 3px solid #C9302C;
	background-color: #F9EDED;
}

.candidatos .cabecera_nombre .nombre {
	font-size: 2em;
}

.candidatos .biografia {
	border: #3E8F3E solid 2px;
	border-radius: 15px 30px;
	padding: 10px 40px;
	background-color: #EEF7EE;
}

.candidatos .motivaciones {
	border: purple solid 2px;
	border-radius: 15px 30px;
	padding: 10px 40px;
	background-color: #F4EAF4;
}

h3.importante{
	background-color: #EEE;
	padding: 20px 60px;
}
